*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.bg-img-0{
    background-image: url(../img/praia-da-falesia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bg-img-1{
    background-image: url(../img/praia-da-marinha.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bg-img-2{
    background-image: url(../img/praia-da-rocha.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bg-img-3{
    background-image: url(../img/praia-de-dona-ana.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bg-img-4{
    background-image: url(../img/praia-do-camilo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#slider .container{
    width: 70%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

#slider .container > div{
    height: 70%;
}

#slider .container .arr{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 67, 120);
    font-size: 18px;
}

#slider .container .arr>i{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);;
}

#slider .container .photos-cont{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#slider .container .photos-cont>img{
    width: 100%;
    height: 100%;
}

#slider .container .photos-cont .nav-imgs{
    position: absolute;
    bottom: 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(17, 67, 120);
}

#slider .container .photos-cont .nav-imgs>i{
    padding: 5px;
}

.active{
    color: rgb(231, 183, 68);
}

/* debug */
/* #slider .container{
    border: 1px solid rgb(0, 0, 255);
}

#slider .container .arr{
    background-color: rgb(255, 0, 0);
}

#slider .container .photos-cont{
    background-color: rgb(0, 128, 0);
} */